<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if user_signed_in? %>
			<input type="hidden" id="my_id" value="<%= current_user.email %>">
			<% end %>
			<div class="well post-wrapper">
				<%= image_tag @post.img_url %>
				<h1><%= @post.title %></h1>
				<div class="description">
					<%= @post.content %>
				</div>
				<input type="hidden" id="post_id" value="<%= @post.id %>">
				<button class="btn" id="like_btn" style="background-color:transparent; border:1px solid #c8c8c8;">
					좋아요
					<i class="fa fa-heart 
					<% if @like.count == 0 %>
					heart-inactive
					<% else %>
					heart-active
					<% end %>" aria-hidden="true"></i>
				</button>
				
					


			</div>
			<div class="well input-reply-wrapper">
				<div style="margin-bottom:20px;">
					<input type="hidden" name="post_id" value="<%= @post.id %>">
					<div class="form-group" style="margin-bottom:0px !important;">
						<textarea class="form-control" id="reply_content" rows="3" name="reply_content"></textarea>
					    
					</div>
					<div class="center-wrapper" style="text-align:right;">
						<button type="button" class="btn btn-default" id="reply_btn">입력</button>	
					</div>
					
				</div>
				<table id="reply_table" class="table">
					<tbody>
						<% if @post.replies %>
							<% @post.replies.order(created_at: :desc).each do |r| %>
								<tr>
									<td>
										<h5><%= r.user.email %></h5>
										<%= r.content %>
										<div class="recent-time">
											<%= time_ago_in_words(r.created_at)+" ago" %>	
										</div>
									</td>
								</tr>

							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well recent-reply">
				<h1>최근 댓글</h1>
				<table class="table">
					
					<% @recent_reply.each do |recent| %>
						<tr>
							<td>
								<div class="recent-reply-wrapper">
									<h5><%= recent.user.email %></h5>
									<div class="recent-content">
										<%= recent.content %>
									</div>
									<div class="recent-time">
										<%= time_ago_in_words(recent.created_at)+" ago" %>
									</div>	
									
								</div>
							</td>
						</tr>

					<% end %>
				
				</table>

			</div>
		</div>
		
	</div>
</div>
<div class="hidden" id="reply-prototype">
	<tr>
		<td>
			<div class="reply-wrapper">
				<h5></h5>
				
				<div class="recent-time"></div>
			</div>
		</td>
	</tr>
</div>
<script>
	$(document).ready(function(){
		$('#like_btn').on('click', function(){
        
	        var clickedbutton = this;
	        $.ajax('/add_like',{
	            type:'post',
	            context: clickedbutton,
	            data: {'post_id': $("#post_id").val()},
	            success: like_success
	        });
	    });

		$('#reply_btn').on('click', function(){

			var clickedbutton = this;
			$.ajax('/add_reply',{
	            type:'post',
	            context: clickedbutton,
	            data: {
	            	post_id: $("#post_id").val(),
	            	reply_content: $("#reply_content").val()
	        	},
	            success: reply_success,
	            complete: reply_complete
	        });
		});



	});


	function like_success(response){
		if(response.message == 'success'){
			$("#like_btn").find("i").removeClass("heart-inactive").addClass("heart-active");	
		}else {
			alert("로그인이 필요합니다");
		}
		
	}
	function reply_success(response){
		if(response.message == 'success'){
			var timeStamp = $("<div></div>").addClass("recent-time").append("less than a minute");
			var tr = $("<tr></tr>").append("<td></td>");

			var writer = $("<h5></h5>").append($("#my_id").val());
			tr.find('td').append(writer);
			tr.find('td').append($("#reply_content").val());
			tr.find('td').append(timeStamp);
			//tr.append($("#reply_content"));

			$('#reply_table tbody').prepend(tr);
		}else{
			alert("로그인이 필요합니다");
		}
	}
	function reply_complete(){
		console.log("complete");
		$('#reply_content').val('');
	}
</script>