


<div class="container">
    <div class="row">
      <% @posts.each do |p|%>
          <div class="col-md-4 col-sm-12">
              <div class="panel panel-default panel-static">
                  <div class="panel-body">
                    <div class="post-image">
                      <%= image_tag p.img_url%>
                      <!-- <img src="http://imgmr.com/wp-content/uploads/2016/02/pokemon-4-1200x0.jpg" style="width:100%;"></img> -->
                      
                    </div>
                    <div class="panel-desc">
                      <h2><%= p.title%></h2>
                      <%= p.content %>  

                    </div>
                    
                    <div class="post-footer">
                      <div class="post-status" style="text-align:right;">
                        <i class="fa fa-heart-o" aria-hidden="true" style="color:#666;"></i>
                        <%= p.likes.count %>
                        <i class="fa fa-comment-o" aria-hidden="true" style="color:#666;"></i>
                        <%= p.replies.count %>
                      </div>
                      <a href="/detail/<%= p.id %>" class="btn btn-default">자세히</a>
                      <!-- <a href="<%= p.server_url %>" class="btn btn-default" target="_blank">바로보기</a> -->
                      <!-- <a href="#" class="btn btn-default">메세지</a> -->
                    </div>
                      
                  </div>
            </div>
          </div>
        <% end %>
    </div>
</div>